.features {
	height: 70vh;
	.slider {
		position: relative;
		height: 400px;
		width: 800px;
		margin: 100px auto 0 auto;
		overflow: hidden;
		transition: 0.5s;

		.move-slider {
			z-index: 2;
			position: absolute;
			top: 200px;
			width: 50px;
			height: 50px;
			
			border-radius: 50%;
			cursor: pointer;
		}
		.move-slider[data-direction="left"] {
			background-color: grey;
			&:after {
				display: inline-block;
				content: "";
				width: 15px;
				height: 15px;
				border-left: 5px solid black;
				border-top: 5px solid black;
				transform: rotate(-45deg);
				position: relative;
				top: 15px;
				left: 18px;}
		}
		.move-slider[data-direction="right"]  {
			background-color: #ffcf28;
			right: 0px;
			@extend .move-slider[data-direction="left"];
			transform: rotate(180deg);}
		.slider-container {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			overflow: hidden;
			transition: 0.5s;
		}
		.slider-small {
			position: absolute;
			top: 150px;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 1s;
			
		}
		.slider-item {
			position: relative;
			// border: 1px solid orange;
			width: 800px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			padding: 0 50px;
			height: 100%;
			box-sizing: border-box;
			h3, p { width: 370px;}
			h3 {font-size: 2.25em; font-weight: 300; padding-bottom: 20px;}
			p {font-weight: 300;}
		}
		.first,
		.second,
		.third {
			background:transparent url('../img/features/pig.png') 15% no-repeat;
		}
	}
}