.gradient {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 200px;
		position: absolute;
		bottom: 0px;
		z-index: 2;

		background:  url('../img/header/bottom.png') bottom/7% repeat-x,
		linear-gradient(to top, black , transparent);}

	.buy-button {
		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;
		bottom: -90px;

		width: 150px;
		height: 150px;
		border: 10px solid white;
		border-radius: 50%;

		background-color: #ffcc33;
		color: black;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		.circle[data-count="1"] {
			content: "";
			position: absolute;
			left: -50px;
			bottom: -50px;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			background-color: white;
			pointer-events: none;
			opacity: 0.1;
			z-index: -1;}
		.circle[data-count="2"]{
			@extend .circle[data-count="1"];
			width: 330px;
			height: 330px;
			left: -90px;
			bottom: -90px;}
		.circle[data-count="3"] {
			@extend .circle[data-count="1"];
			width: 410px;
			height: 410px;
			left: -130px;
			bottom: -130px;}
		.circle[data-count="4"] {
			@extend .circle[data-count="1"];
			width: 490px;
			height: 490px;
			left: -170px;
			bottom: -170px;}
	}