.header {
	position: relative;
	height:90vh;
	min-height: 600px;
	background-color: black;
	z-index: 1;
	color: white;
	background: url('../img/header/main.png') center/cover no-repeat;

	@import "navigation.scss";
	@import "about.scss";
	@import "logo";
	@import "yellow-block";
	@import "button-block";
}