.features
	.slider
		.left
		.right
		.slider-container
			.slider-first
				h3 Скидки
				p 
					| В нашем магазине действует система скидок, чтобы вы могли радовать своих близких большими букетами роз.
					| При заказе от 7 роз мы предоставляем скидку 10%!
					| При заказе от 15 роз - доставка бесплатна!
			.slider-second
				h3 ВОТ ТАК ДАААА
				p 
				| В нашем магазине действует система скидок, чтобы вы могли радовать своих близких большими букетами роз.
				| При заказе от 7 роз мы предоставляем скидку 10%!
				| При заказе от 15 роз - доставка бесплатна!
			.slider-third
				h3 блаблабл
				p 
				| В нашем магазине действует система скидок, чтобы вы могли радовать своих близких большими букетами роз.
				| При заказе от 7 роз мы предоставляем скидку 10%!
				| При заказе от 15 роз - доставка бесплатна!