.features
	.slider
		.move-slider.disable(data-direction="left")
		.move-slider(data-direction="right")
		.slider-container
			.slider-small
				.slider-item.first
					h3 Скидки
					p 
						| В нашем магазине действует система скидок, чтобы вы могли радовать своих близких большими букетами роз.
						| При заказе от 7 роз мы предоставляем скидку 10%!
						| При заказе от 15&nbsp;роз&nbsp;—&nbsp;доставка бесплатна!
				.slider-item.second
					h3 слайдер2
					p 
						| В нашем магазине действует система скидок, чтобы вы могли радовать своих близких большими букетами роз.
						| При заказе от 7 роз мы предоставляем скидку 10%!
						| При заказе от 15 роз — доставка бесплатна!
				.slider-item.third
					h3 слайдер3
					p 
						| В нашем магазине действует система скидок, чтобы вы могли радовать своих близких большими букетами роз.
						| При заказе от 7 роз мы предоставляем скидку 10%!
						| При заказе от 15 роз — доставка бесплатна!