footer.footer
	.copyright
		p 
			| ©2013, интернет-магазин&nbsp;«Букет&nbsp;роз». Все права защищены.
	.payment
		p Способы оплаты:
	.social
		p Поделиться с друзьями:
		a(target= "_blank" class="vk" href="http://vk.com")
		a(target= "_blank" class="facebook" href="http://facebook.com")
		a(target= "_blank" class="twitter" href="http://twitter.com")
	.copyright
		p Разработка и дизайн.
		a(href="#") ООО «Росапп»