header.header
	nav.navigation
		ul
			li
				a(href="#") Купить
			li
				a(href="#") Галерея
			li
				a(href="#") О нас
		a(href="tel:225259") 
			span (3822) 
			| 22-52-59
	.about
		h4 Букет роз с доставкой по Томску
		p
			| Что может быть приятней, чем букет роз? Подарите цветы, чтобы вам подарили улыбку!
		p
			| Давайте напишем еще пару абзацев текста, чтобы люди лучше находили этот сайт в поисковиках по запросу цветы в Томске.
	.logo 
		h2 Букет роз
		p.decor
			| Интернет-магазин
		.yellow-block
			h3 Розы
			p 
				| для ваших близких от 
				span 72
				| &ensp;&emsp;шт
	.gradient
		a(href="#").buy-button Купить 
			.circle(data-count="1")
			.circle(data-count="2")
			.circle(data-count="3")
			.circle(data-count="4")