doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	link(rel='stylesheet', href='css/main.css')
	meta(name='viewport', content='width=device-width')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
title Букет роз - интернет магазин
body
	include header.jade
	.offer
		.block.offer-one
			h3 Одна роза
			p Элегантный подарок любимому&nbsp;человеку
			form
				.rose
					input(type="radio" name="rose" id="red-rose" checked) 
					label(for="red-rose") красная
					br
					input(type="radio" id="white-rose" name="rose") 
					label(for="white-rose") белая
		.block.offer-low
			h3 7 роз
			p 
				| Классический букет из
				br
				| семи&nbsp;роз
		.block.offer-medium
		.block.offer-custom

		


					
