doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	link(rel='stylesheet', href='css/main.css')
	meta(name='viewport', content='width=device-width')
	
title Букет роз - интернет магазин
body(data-popup="")
	include header.jade
	include offer/offer.jade
	include our-rose.jade
	include features.jade
	include footer.jade
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src="script/input-arrows.js")
	script(src="script/more-photos.js")
	script(src="script/slider.js")

		


					
