.our-rose
	.about
		h3 Наши розы
		p
			| Наши розы &mdash; самые лучшие розы, хрустящие, белые и красные!
	.first-rose
	.second-rose
	.more-rose
		p Другие фото
	.more-images
		.bouquet(data-item="1")
		.bouquet(data-item="2")
		.bouquet(data-item="3")
		.bouquet(data-item="4")
		.bouquet(data-item="5")
		.bouquet(data-item="6")
		.bouquet(data-item="7")
		.bouquet(data-item="8")
		.zoom
			.left
			.right
