.our-rose
	.about
		h3 Наши розы
		p
			| Наши розы &mdash; самые лучшие розы, хрустящие, белые и красные!
	.first-rose
	.second-rose
	.more-rose
		p Другие фото
	.more-images
		.bouquet
		.bouquet
		.bouquet
		.bouquet
		.bouquet
		.bouquet
		.bouquet
		.bouquet
