.block.custom
	h3 роз
	p.about
		| Составьте свой букет!
	input(type="number" name="rose-count" id="rose-count" min="0" max="999" value="25" pattern="0-9*")
	form
		
		.arrowup
		.arrowdown
		.radio
			input(type="radio" name="rose-custom" id="red-rose-custom" checked) 
			label(for="red-rose-custom") красная
			br
			input(type="radio" id="white-rose-custom" name="rose-custom") 
			label(for="white-rose-custom") белая
			br
			input(type="radio" id="random-rose-custom" name="rose-custom") 
			label(for="random-rose-custom") смешанные
		.radio
			input(type="radio" name="delivery-custom" id="delivery-custom" checked) 
			label(for="delivery-custom") самовывоз
			br
			input(type="radio" id="delivery-pay-custom" name="delivery-custom" data-name="delivery-pay") 
			label(for="delivery-pay-custom") 
				| доставка 
				br
				span бесплатно!

	p.cost
		span#sale-cost 
		| Р
	.sale#sale
		p 
			| скидка 
			span 10%
		p.line-through#total-cost  Р
	input(type="submit" value="Купить")